# DataFrame Calculations

In [2]:
#Working with Constants
import numpy as np
import pandas as pd

animals = pd.read_csv('/Users/laumaustupa/Desktop/Ironhack/Cours/data-labs/module-2/lab-subsetting-and-descriptive-stats/your-code/animals.csv')
animals['bodywtkg'] = animals['bodywt'] * 0.45359237
animals.head()

   brainwt   bodywt      animal    bodywtkg
0    3.385   44.500  Arctic_fox   20.184860
1    0.480   15.499  Owl_monkey    7.030228
2    1.350    8.100      Beaver    3.674098
3  464.983  423.012         Cow  191.875016
4   36.328  119.498   Gray_wolf   54.203381

In [3]:
#Combining Two (or More) Columns
animals['wtratio'] = animals['bodywt'] / animals['brainwt']
animals.head()

   brainwt   bodywt      animal    bodywtkg    wtratio
0    3.385   44.500  Arctic_fox   20.184860  13.146233
1    0.480   15.499  Owl_monkey    7.030228  32.289583
2    1.350    8.100      Beaver    3.674098   6.000000
3  464.983  423.012         Cow  191.875016   0.909736
4   36.328  119.498   Gray_wolf   54.203381   3.289419

In [4]:
#Conditional Calculations
animals['wtratiozerocheck'] = np.where(animals['brainwt'] != 0, animals['bodywt'] / animals['brainwt'], 0)
animals.head()

   brainwt   bodywt      animal    bodywtkg    wtratio  wtratiozerocheck
0    3.385   44.500  Arctic_fox   20.184860  13.146233         13.146233
1    0.480   15.499  Owl_monkey    7.030228  32.289583         32.289583
2    1.350    8.100      Beaver    3.674098   6.000000          6.000000
3  464.983  423.012         Cow  191.875016   0.909736          0.909736
4   36.328  119.498   Gray_wolf   54.203381   3.289419          3.289419

In [5]:
#Calculations Using Functions
animals['sum'] = animals.sum(axis=1)
animals['sum']

0        94.362327
1        87.588395
2        25.124098
3      1081.689489
4       216.608218
5       203.132276
6       170.814715
7        19.611681
8       116.179460
9        39.845638
10       85.123290
11       21.596781
12       23.793710
13       56.208503
14       34.846926
15       25.370226
16       32.179186
17       18.269397
18     9241.817272
19       26.546034
20      800.643854
21     1475.609751
22       14.789771
23      200.156508
24       56.027116
25       57.467962
26       51.670562
27     1520.026958
28      801.105085
29      565.056402
          ...
32    14958.612888
33       11.397582
34      319.645336
35      119.603888
36       37.156132
37       18.240259
38       35.387046
39       50.373398
40       37.427047
41      966.185720
42       29.768468
43      316.188837
44      331.346593
45      708.627543
46      305.504839
47       12.765894
48      180.432169
49       45.792106
50       79.554323
51       16.613254
52       33.819311
53       53.663105
54       14.277685
55      455.534329
56       56.008596
57      407.773558
58       10.457118
59       32.265027
60       51.814904
61      101.297708
Name: sum, Length: 62, dtype: float64

# Data Aggregations and Summarization

In [7]:
#Grouping
vehicles = pd.read_csv('/Users/laumaustupa/Desktop/Ironhack/Cours/data-labs/module-1/lab-import-export/vehicles/vehicles.csv')
vehicles.groupby(['Transmission'])

In [8]:
#Aggregations
#Here we aggregate 3 different columns and compute their mean based on the different transmission values
vehicles.groupby(['Transmission'])['Highway MPG', 'City MPG', 'Combined MPG'].mean()

                                  Highway MPG   City MPG  Combined MPG
Transmission
Auto (AV)                           40.000000  35.000000     37.000000
Auto (AV-S6)                        25.000000  22.000000     23.000000
Auto (AV-S8)                        22.000000  20.000000     21.000000
Auto(A1)                            37.000000  41.000000     39.000000
Auto(AM-S6)                         32.978261  24.315217     27.554348
Auto(AM-S7)                         25.300781  17.746094     20.425781
Auto(AM-S8)                         32.000000  23.666667     26.666667
Auto(AM-S9)                         22.000000  21.000000     21.000000
Auto(AM5)                           39.000000  33.666667     36.000000
Auto(AM6)                           31.345455  23.909091     26.736364
Auto(AM7)                           22.382166  16.248408     18.420382
Auto(AM8)                           28.600000  22.400000     24.600000
Auto(AV-S6)                         30.800000  25.944828     27.848276
Auto(AV-S7)                         33.746032  27.952381     30.206349
Auto(AV-S8)                         28.538462  22.846154     24.961538
Auto(L3)                            17.000000  14.000000     15.500000
Auto(L4)                            19.000000  13.500000     15.500000
Automatic (A1)                      31.666667  34.000000     32.666667
Automatic (A6)                      21.000000  14.000000     16.500000
Automatic (AM5)                     41.000000  33.000000     36.000000
Automatic (AM6)                     18.000000  13.000000     15.000000
Automatic (AV)                      30.000000  21.750000     24.750000
Automatic (AV-S6)                   27.777778  23.666667     25.222222
Automatic (S4)                      24.768559  18.074236     20.528384
Automatic (S5)                      24.205596  17.087591     19.698297
Automatic (S6)                      25.938807  18.337514     21.096921
Automatic (S7)                      23.605364  16.804598     19.195402
Automatic (S8)                      26.983333  18.450000     21.500000
Automatic (S9)                      28.307692  19.923077     23.038462
Automatic (variable gear ratios)    31.094815  27.460741     28.777778
Automatic 3-spd                     21.630343  17.449750     19.033500
Automatic 4-spd                     21.691639  15.944261     18.042607
Automatic 5-spd                     21.647167  15.445417     17.693229
Automatic 6-spd                     23.768156  16.720670     19.237430
Automatic 6spd                      34.000000  21.000000     26.000000
Automatic 7-spd                     24.413897  17.117825     19.746224
Automatic 8-spd                     24.448560  16.576132     19.279835
Automatic 9-spd                     28.366667  20.077778     23.200000
Manual 3-spd                        16.945946  14.229730     15.256757
Manual 4-spd                        21.042113  16.871363     18.462481
Manual 5 spd                        14.000000  14.000000     14.000000
Manual 5-spd                        25.664312  19.242327     21.634391
Manual 6-spd                        26.202229  18.306232     21.153941
Manual 7-spd                        26.205882  18.220588     21.117647
Manual(M7)                          22.333333  14.000000     17.000000

In [9]:
#In this example we aggregate based on two columns and compute the median CO2 Emission 
#for all combinations of fuel type and cylinders
vehicles.groupby(['Fuel Type', 'Cylinders'])['CO2 Emission Grams/Mile'].median()

Fuel Type                    Cylinders
CNG                          4.0          253.197321
                             6.0          417.030882
                             8.0          568.070913
Diesel                       4.0          308.484848
                             5.0          391.538462
                             6.0          439.000000
                             8.0          598.823529
                             10.0         598.823529
Gasoline or E85              4.0          355.480000
                             6.0          444.350000
                             8.0          592.466667
Gasoline or natural gas      4.0          386.391304
                             6.0          437.000000
                             8.0          740.583333
Gasoline or propane          8.0          666.525000
Midgrade                     6.0          416.000000
                             8.0          527.000000
Premium                      2.0          493.722222
                             3.0          246.861111
                             4.0          386.391304
                             5.0          444.350000
                             6.0          444.350000
                             8.0          522.764706
                             10.0         634.785714
                             12.0         683.615385
                             16.0         888.700000
Premium Gas or Electricity   2.0           40.000000
                             4.0           89.000000
                             6.0          260.000000
                             8.0          277.000000
Premium and Electricity      3.0          198.000000
                             4.0          214.000000
                             6.0          228.000000
                             8.0          463.000000
Premium or E85               4.0          373.000000
                             6.0          423.190476
                             8.0          504.000000
                             12.0         633.892857
Regular                      2.0          522.764706
                             3.0          247.000000
                             4.0          386.391304
                             5.0          467.736842
                             6.0          493.722222
                             8.0          634.785714
                             10.0         776.500000
                             12.0         683.615385
Regular Gas and Electricity  4.0          129.000000
Regular Gas or Electricity   4.0           51.000000
Name: CO2 Emission Grams/Mile, dtype: float64

In [10]:
#Here we produce the mean, median and standard deviation for combined MPG grouped by fuel type
vehicles.groupby(['Fuel Type'])['Combined MPG'].agg(['mean', 'median', 'std'])

                                  mean  median       std
Fuel Type
CNG                          18.133333    14.5  7.436663
Diesel                       23.488474    21.0  7.054702
Gasoline or E85              17.572385    17.0  3.822538
Gasoline or natural gas      15.350000    12.0  5.343712
Gasoline or propane          13.500000    13.5  1.603567
Midgrade                     17.378378    17.0  1.848381
Premium                      19.343816    19.0  4.097972
Premium Gas or Electricity   31.647059    33.0  7.158397
Premium and Electricity      26.300000    25.5  5.141165
Premium or E85               20.090909    20.0  3.676502
Regular                      20.144698    20.0  5.317500
Regular Gas and Electricity  41.937500    38.5  5.246824
Regular Gas or Electricity   42.000000    42.0  0.000000

In [11]:
#Custom Aggregation Functions
from scipy import stats

def agg_mode(x):
    return(stats.mode(x)[0])

In [12]:
vehicles.groupby("Transmission")["Vehicle Class"].agg(agg_mode)

/Users/laumaustupa/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:248: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

Transmission
Auto (AV)                                                 Compact Cars
Auto (AV-S6)                                              Compact Cars
Auto (AV-S8)                                              Midsize Cars
Auto(A1)                                               Subcompact Cars
Auto(AM-S6)                                               Compact Cars
Auto(AM-S7)                                           Minicompact Cars
Auto(AM-S8)                                               Compact Cars
Auto(AM-S9)                                                Two Seaters
Auto(AM5)                                                  Two Seaters
Auto(AM6)                                                 Compact Cars
Auto(AM7)                                                  Two Seaters
Auto(AM8)                           Standard Sport Utility Vehicle 4WD
Auto(AV-S6)                                               Midsize Cars
Auto(AV-S7)                                               Midsize Cars
Auto(AV-S8)                                               Midsize Cars
Auto(L3)                                      Special Purpose Vehicles
Auto(L4)                                      Special Purpose Vehicles
Automatic (A1)                                         Subcompact Cars
Automatic (A6)                                            Compact Cars
Automatic (AM5)                                            Two Seaters
Automatic (AM6)                                            Two Seaters
Automatic (AV)                                            Midsize Cars
Automatic (AV-S6)                                         Compact Cars
Automatic (S4)                                            Compact Cars
Automatic (S5)                                            Compact Cars
Automatic (S6)                                            Midsize Cars
Automatic (S7)                                            Midsize Cars
Automatic (S8)                                            Midsize Cars
Automatic (S9)                         Small Sport Utility Vehicle 4WD
Automatic (variable gear ratios)                          Midsize Cars
Automatic 3-spd                                           Compact Cars
Automatic 4-spd                                           Midsize Cars
Automatic 5-spd                            Sport Utility Vehicle - 4WD
Automatic 6-spd                            Sport Utility Vehicle - 2WD
Automatic 6spd                                            Midsize Cars
Automatic 7-spd                                           Compact Cars
Automatic 8-spd                                             Large Cars
Automatic 9-spd                        Small Sport Utility Vehicle 4WD
Manual 3-spd                                                      Vans
Manual 4-spd                                    Standard Pickup Trucks
Manual 5 spd                                                      Vans
Manual 5-spd                                              Compact Cars
Manual 6-spd                                              Compact Cars
Manual 7-spd                                          Minicompact Cars
Manual(M7)                                                 Two Seaters
Name: Vehicle Class, dtype: object